body{
    text-align: center;
    background-color: black;
    background-image: url("images/music_node.png");
    background-size: cover !important;
}

h1{
    font-size: 5rem;
    color: #dbedf3;
    font-family: "Arvo", cursive;
    text-shadow: 3px 0 #da0463;
}

footer{
    color: #dbedf3;
    font-family:Georgia, 'Times New Roman';
    
}

.s{
    background-image: url("images/Sa.png");
}

.r{
    background-image: url("images/Re.png");
}

.g{
    background-image: url("images/Ga.png");
}

.m{
    background-image: url("images/Ma.png");
}

.p{
    background-image: url("images/Pa.png");
}

.d{
    background-image: url("images/Dha.png");
}

.n{
    background-image: url("images/Ni.png");
}

.set{
    margin: 10% auto;
}

.pressed{
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
}

.red{
    color: red;
}

.drum{
    outline: none;
    border: 10px solid white;
    font-size: 3rem;
    font-family: "Arvo", cursive;
    line-height: 2;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 white;
    border-radius: 10px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}